@import '../../styles/varibles.scss';

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  padding: 0 40px;
}

.container {
  max-width: $container-width;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.section {
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  padding: 24px;
}
